
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Angular</title>
  <link rel="stylesheet" href="style.css">

  <!-- Inclua o CSS do Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script>
    function fundoBranco(){
        let container = document.getElementsByClassName('container');
        container[0].style.backgroundColor = '#FFF';
        container[0].style.color = "#000"
        alterarLinks('blue')
        alternarCoresSummary('#282a36', '#282')
    }
    function fundoPreto(){
        let container = document.getElementsByClassName('container');
        container[0].style.backgroundColor = '#000';
        container[0].style.color = "#FFF"
        alterarLinks('yellow')
        alternarCoresSummary('#282a36', 'blue')
    }

    function alternarCoresSummary(cor1,cor2){
        let p = document.getElementsByTagName('summary');
        for (let a=0 ; a < p.length ; a++){
            if(a%2==0){
                p[a].style.backgroundColor = cor1;
            }
            else{
                p[a].style.backgroundColor = cor2;
            }
        }
    }

    function alterarLinks(cor){
        let p = document.getElementsByTagName('a');
        for (let a=0 ; a < p.length ; a++){
                p[a].style.color = cor;
        }
    }
    
    </script>    
</head>
<body class="container" onload="fundoPreto()">
   
  <div class="container">
    <h1>Unidade IV - Angular</h1>
    <details>
        <summary style="margin-bottom: 10px;">O que é o Angular?</summary>
        <div class="row">
            <div class="col-md-4">
                <p>Angular é um <b>framework</b> de desenvolvimento de aplicativos web de código aberto mantido pelo Google. Ele é uma plataforma completa para a criação de aplicativos web dinâmicos, permitindo que os desenvolvedores criem interfaces de usuário interativas e responsivas.
                </p>
            </div>
            <div class="col-md-4">
                 <p>
                    O Angular utiliza a linguagem <b>TypeScript</b>, que é uma extensão do JavaScript, para desenvolver aplicativos.
                </p>
               
            </div>
            <div class="col-md-4">
                <p>
                    Uma das principais características do Angular é a sua abordagem baseada em <b>componentes</b> onde cada componente é responsável por uma parte específica da interface do usuário. Esses componentes podem ser reutilizados e combinados para criar aplicativos complexos.</p>
                 
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                O Angular também oferece recursos avançados como:injeção de dependência, testes automatizados, otimização de desempenho e internacionalização.
            </div>

            <div class="col-md-4">
                <p> Ele segue o padrão <b>MVC (Model-View-Controller)</b> e fornece recursos poderosos para o desenvolvimento de aplicativos, como manipulação de eventos, gerenciamento de estado, roteamento, criação de componentes reutilizáveis e comunicação com servidores por meio de chamadas HTTP.
                </p>
            </div>
            <div class="col-md-4">Com o Angular, os desenvolvedores podem criar aplicativos web escaláveis e de alta qualidade, adequados para uma variedade de casos de uso, desde pequenos projetos até grandes sistemas corporativos.
            </div>
        </div>
    </details>

    <details>
        <summary>Principais conceitos e fluxos de trabalho do Angular</summary>
        <div class="row">
          <div class="col-md-12">
        
            
            <ol>
            <li>
                <b>Componentes:</b> É uma unidade independente que encapsula o comportamento e a aparência. Cada componente possui seu próprio template HTML, estilos CSS e lógica de negócio escrita em TypeScript, e podem ser reutilizados em diferentes partes do aplicativo.
            <ul>
                <li>
                    <b>Templates:</b> Eles são escritos em HTML com extensões e diretivas específicas do Angular <b>(como *ngFor e *ngIf)</b> para iterar sobre listas ou controlar a exibição condicional de elementos.
                </li>
                <li>
                    <b>Data Binding:</b> O Angular oferece recursos avançados de data binding para sincronizar dados entre o componente e o template. Esses mecanismos permitem atualizar e exibir os dados de forma dinâmica na interface do usuário.
                </li>
            </ul>
            </li>
            <li>
                <b>Services:</b> São classes que contêm lógica de negócio reutilizável e são injetados nos componentes que precisam deles. Eles são usados para compartilhar dados, realizar chamadas HTTP, gerenciar autenticação, entre outras tarefas. 
            </li>
            <li>
                <b>Injeção de Dependência:</b> Facilita a gestão das dependências entre os diferentes componentes e serviços. Permite receber instâncias de serviços de que necessitam, em vez de criá-los diretamente. Isso torna o código mais modular, testável e flexível.
            </li>
            <li>
                <b>Roteamento:</b> Com o roteamento, é possível definir rotas para diferentes URLs e associá-las a componentes específicos. Isso permite que os usuários naveguem entre as diferentes partes do aplicativo sem precisar recarregar a página.
            </li>
            <li>
                <b>Ciclo de vida dos componentes:</b> Os componentes do Angular possuem um ciclo de vida definido, com diferentes fases. Essas fases incluem a inicialização do componente, a atualização dos dados, a detecção de mudanças e a destruição do componente. O desenvolvedor pode aproveitar esses eventos para executar ações específicas em cada fase.
            </li>
           </ol>
          
          </div>
          <div class="row">
            <img src="Building-blocks-angular.png" width="100%" alt="" srcset="">
          </div>
    </details>

    <details>
        <summary>Iniciando o Angular</summary>
        <div class="row">
            <div class="col-md-4">
            <h5>Requisitos</h5>
            <p><code>npm (package manager) <a href="https://www.npmjs.com/" target="_blank" rel="noopener noreferrer"> https://www.npmjs.com/</a></code></p>
            <p><code>Node.js<a href="https://nodejs.org" target="_blank" rel="noopener noreferrer"> https://nodejs.org</a></code></p>
            </div>

            <div class="col-md-8">
                <h5>
                    Primeiros passos
                </h5>
            <ol>
                <li>Instalando o CLI <code>> sudo npm install -g @angular/cli</code></li>
                <li>Criando os arquivos <code>> ng new my-app</code></li>
                <li>Selecionar a pasta <code>> cd my-app</code></li>
                <li>Executando a aplicação <code>> ng serve --open</code></li>
            
            </ol> 
            Para instalar o codigo vindo de algum repo <code>> npm install</code>
            </div>
        </div>
    </details>

    <details>
        <summary>TypeScript</summary>
        <div class="row">
          <div class="col-md-4">
             Declaração de tipos e variáveis
             <br>
             <code>let nome: string = "John";</code>  <br>
             <code>let idade: number = 30;</code>  <br>
             <code>let estaAtivo: boolean = true;</code>
                
          </div>
          <div class="col-md-4">
            Funções <br>
                        <code> function somar(a: number, b: number): number {           </code><br>
            <code>  &nbsp;&nbsp;return a + b;</code><br>
            <code> }     </code>
            
               
             
              
         </div>
         <div class="col-md-4">
         interfaces
<br>
         <code>interface Pessoa {</code><br>
            <code> &nbsp;&nbsp;  nome: string;</code><br>
            <code> &nbsp;&nbsp; idade: number;</code><br>
            <code> }</code>
          <br>
            <code>function saudar(pessoa: Pessoa): void {</code><br>
                <code>&nbsp;&nbsp;console.log(`Olá, ${pessoa.nome}!`);</code><br>
                <code>}</code>

          

         </div>
         </div>
         <div class="row">
            <div class="col-md-6">
              Enum
               <br>
               <code>enem Cor{</code>  <br>
               <code>vermelho,</code>  <br>
               <code>azul,</code> <br>
               <code>verde}</code><br>
               <br>
               <code>let corFavorita: Cor = Cor.verde;</code>
                  

            </div>
             
            <div class="col-md-6">
            Classes
            <br>


            <code>class Pessoa {</code><br>
                <code> &nbsp;&nbsp;  nome: string;</code><br>
                <code> &nbsp;&nbsp; idade: number;</code><br><br>

                <code> &nbsp;&nbsp; constructor(nome: string, idade: number) {</code><br>
                <code>   &nbsp;&nbsp;  &nbsp;&nbsp;   this.nome = nome;</code><br>
                <code>   &nbsp;&nbsp;  &nbsp;&nbsp;   this.idade = idade;</code><br>
                <code> &nbsp;&nbsp; }</code><br>
                <br>
                <code> &nbsp;&nbsp; saudar(): void {</code><br>
                    <code> &nbsp;&nbsp; &nbsp;&nbsp;console.log(`Olá, ${this.nome}!`);</code><br>
                    <code> &nbsp;&nbsp;  &nbsp;&nbsp; }</code><br>
                <code>   }</code><br>
                
                <code>let pessoa = new Pessoa("John", 30);</code><br>
                <code>pessoa.saudar();</code>
    
            </div>
           </div>
    </details>

    <details>
        <summary>Angular: Componentes </summary>
        <div class="row">
            <div class="col">
                <p>Use o Angular CLI (Command Line Interface) para criar um novo componente.
                    
                <br>Exemplo, para criar um componente chamado "MeuComponente", execute o seguinte comando no terminal:</p>
             <p><code>ng generate component MeuComponente</code></p>

            </div>
            <div class="col">
                <p>

                    Você pode usar o componente em outros componentes ou diretivas do Angular. <br> Por exemplo, em um arquivo de template HTML de um componente pai:
                </p>
                
                             <code> &lt;app-meu-componente> &lt;/app-meu-componente></code>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p><h5>Binding</h5></p>
               O Angular oferece vários tipos de binding para conectar dados entre o componente e o template
               <ul>
                <li><b>Interpolação:</b> Permite que você insira valores de propriedades do componente diretamente no template {{ }} <br>
                    <code>
                        &lt;h1>{{ titulo }}&lt;/h1> <br>
                        &lt;p>{{ contador }}&lt;/p>
                    </code>                   
                </li>
                <li><b>Property Binding</b> (Binding de Propriedade): Permite que você atribua valores de propriedades do componente a atributos de elementos HTML usando a sintaxe de colchetes [ ] <br>
                    <code>
                  

                        &lt;input [value]="nome"><br>
                        &lt;img [src]="urlImagem">


                    </code>                   
                </li>
                <li><b>Event Binding</b> (Binding de Evento):Permite que você responda a eventos do usuário, como cliques de botões, usando a sintaxe de parênteses ( ).<br>
                    <code>
              

                        &lt;button (click)="salvar()">Salvar&lt;/button> <br>
                   



                    </code>                   
                </li>
               </ul>
               <p>Também há o <b>Two-Way Binding</b> (Binding Bidirecional), <b>Class Binding</b> (Binding de Classe) e o <b>Style Binding</b> (Binding de Estilo).</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><h5>Diretivas</h5></p>

                <p>As diretivas são as funções que serão executadas sempre que o compilador do Angular as encontrar. Elas aprimoram a capacidade dos elementos do HTML anexando comportamentos personalizados ao DOM.</p>

                <ul>
                    <li>
                        <p><b>*ngIf:</b> Diretiva estrutural utilizada para renderizar ou não um elemento com base em uma expressão condicional.</p>
                        <p>
                            <code>
                            &lt;div *ngIf="mostrarElemento"><br>
                                &nbsp;&nbsp;  Este elemento será exibido se mostrarElemento for verdadeiro. <br>
                              &lt;/div>
                            </code>
                        </p>
                    </li>
                    <li>
                        <p><b>*ngFor:</b> Diretiva estrutural utilizada para iterar sobre uma coleção e renderizar elementos repetidamente.</p>
                        <p>
                            <code>
                                &lt;ul> <br>
                                &nbsp;&nbsp;&lt;li *ngFor="let item of listaItens">{{ item }}&lt;/li> <br>
                                &lt;/ul>
                                  
                            </code>
                        </p>
                    </li>
                    <li>
                        <p><b>[ngClass]</b> Diretiva de atributo utilizada para adicionar ou remover classes CSS com base em expressões condicionais.</p>

                        <p>
                            <code>
                                &lt;div [ngClass]="{'destaque': isDestacado, 'ativo': isActive}">Conteúdo&lt;/div>

                            </code>
                        </p>
                        
                    </li>
                    <li>
                        <p><b>[ngStyle]</b> Diretiva de atributo utilizada para alterar estilos CSS com base em expressões condicionais.</p>

                        <p>
                            <code>
                             &lt;div [ngStyle]="{'color': corTexto, 'font-size.px': tamanhoFonte}">Conteúdo&lt;/div>

                            </code>
                        </p>
                    </li>
                    <li>
                        <p><b>(click)</b> Diretiva de evento utilizada para responder a eventos de clique.</p>
                        <p>
                            <code>
                                &lt;button (click)="salvar()">Salvar&lt;/button>


                            </code>
                        </p>

                    </li>
              
                </ul>

            </div>
             
        </div>
        
    </details>
    
    <details>
        <summary>Angular: Services </summary>
        <div class="row">
            <div class="col">
             <p>Para criar um <b>service</b> ou serviço, utilizamos o seguinte comando no terminal: </p>
             <p><code>ng generate service MeuServico</code> </p>
             <p>Isso criará automaticamente os arquivos necessários para o serviço, incluindo um arquivo de classe TypeScript.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                O provedor do serviço é definido como <b> 'root'</b> no decorator <b> @Injectable({ providedIn: 'root' })</b>. Isso significa que o serviço será fornecido em nível de aplicativo e estará disponível para todos os componentes.

                <img src="images/Service.png" width="100%" alt="" srcset=""></div>
            <div class="col">Agora, podemos injetar e usar o serviço em outros componentes.<img src="images/Service2.png" width="100%" alt="" srcset=""></div>
        </div>
        
        <p>O decorator <b>@Injectable</b> indica que a classe é um serviço e pode ser injetada em outros componentes ou serviços.</p>
<p>Em outras palavras:  <b>Injeção de dependência</b> é um padrão de projeto no qual uma classe solicita dependências de fontes externas ao invés de criá-las.</p>
    </details>

   

    <details>
        <summary>Angular: Rotas </summary>
        <div class="row">
            <div class="col">
                <p>As rotas são definidas por dois elementos principais, o Path, que é o caminho (URL) e o Componente, que é o componente a ser carregado.</p>
                <p>É uma maneira simples de navegar nas páginas do nosso app. Tecnicamente não temos múltiplas páginas no Angular, apenas carregamos diferentes componentes, desta forma economizamos dados e fazemos a página parecer diferente.</p>

                <p>Para implementar rotas no Angular, você pode seguir os seguintes passos:</p>
                
                <p> <b>Passo 1:</b> No módulo principal do seu aplicativo Angular (geralmente chamado de AppModule), você precisa importar o módulo de roteamento do Angular e configurar as rotas do seu aplicativo. Você pode fazer isso adicionando o seguinte código:</p>

                <img src="./images/rota1.png" width="500px" srcset="">
               
               <p>
                   No exemplo acima, importamos o <code>RouterModule</code> e o <code> Routes</code> do pacote <code> @angular/router</code>. Em seguida, definimos um array de objetos de rota <code>routes</code>, onde cada objeto especifica o caminho da rota e o componente associado a esse caminho. Neste caso, temos uma rota vazia ('') que corresponde ao componente <code> HomeComponent</code> e uma rota <code> '/about'</code> que corresponde ao componente <code>AboutComponent</code>.
               </p> 

               <p>
                <b>Passo 2:</b>  No template do seu componente principal (geralmente chamado de AppComponent), você precisa adicionar o elemento <code> &lt;router-outlet></code>. Este elemento é onde os componentes correspondentes às rotas serão renderizados. Por exemplo:
               </p>
<p>
                <code>   -- app.component.html  -- <br>
                &lt;h1>Meu Aplicativo Angular &lt;h1> <br>
                &lt;router-outlet>&lt;router-outlet> </code>
            </p>
                <p>
                    <b>Passo 3:</b>  Navegação entre rotas. Agora que você configurou as rotas, pode navegar entre elas usando o serviço  <code> Router</code> fornecido pelo Angular. Por exemplo, você pode adicionar um link de navegação em um template para ir para a rota 'about':
                   </p>
    <p>
                    <code>   -- home.component.html  -- <br>
                    &lt;h2>Página Inicial &lt;h1> <br>
                    &lt;a routerLink="/about"> Ir para a página Sobre &lt;/a></code>
                </p>
                <p>Ou colocando no codigo .ts:</p>
                <p>
                    <code>constructor(private router: Router) { }</code> <br>
                    <code>...</code><br>
                    <code>this.router.navigate(['/user']);</code><br>
                    <code>...</code>
                </p>
                    <p>
                    No exemplo acima, usamos a diretiva <code> routerLink</code> para criar um link que navega para a rota <code>'/about'</code> quando clicado.
                    </p>

            </div>
        </div>
<h5><b>Acessando parâmetros</b></h5>
        <div class="row">
            <div class="col">
                Para obter os valores dos parâmetros passados pela rota no Angular, você pode usar o serviço <code>ActivatedRoute</code>. Existem duas maneiras comuns de acessar os parâmetros da rota: usando <code> snapshot</code> e <code> subscribe</code> para obter os parâmetros de forma síncrona ou assíncrona, respectivamente.

                No exemplo abaixo, o componente ExemploComponent injeta o serviço ActivatedRoute e usa o snapshot ou o método subscribe para acessar os parâmetros da rota.
            </div>
        </div>
        <div class="row">
            <div class="col">
               <b> Usando snapshot (síncrono):</b>
               <p>
                <img src="./images/Param1.png"  width="100%" srcset="">
               </p>
                 
            </div>
       
            <div class="col">
                <b>Usando subscribe (assíncrono):</b>
                <p>
                    <img src="./images/param2.png" alt="" width="100%" srcset="">
                </p>
            </div>
        </div>

<p>Ao utilizar o <code> snapshot</code>, você obtém os valores dos parâmetros uma vez, quando o componente é inicializado. Já com o <code> subscribe</code>, você pode receber atualizações dos valores dos parâmetros caso eles mudem sem a necessidade de recarregar o componente.</p>
        
    </details>

    <details>
        <summary>Angular: Protocolo HTTP - API </summary>
        <div class="row">
            <div class="col">
                Aula dia 12/07/2023
            </div>
        </div>
        
    </details>


    <div class="row">
        <div class="col-md-12">
          <h6>Referências</h6>
            <ul>
                <li>
                    <a href="https://angular.i</code>o" target="_blank" rel="noopener noreferrer">
                    Angular
                    </a>
                </li>
               
 

            </ul>
            <h6>Complementos</h6>
            <ul>
                <li>
                    <a href="https://marketplace.visualstudio.com/items?itemName=alexiv.vscode-angular2-files">
                    Angular Files - Complemento do Vscode
                    </a>
                </li>
                <li>
                    <a href="https://marketplace.visualstudio.com/items?itemName=PKief.material-icon-theme">
                        Material Icon Theme
                    </a>
                </li>
                <li>
                    <a href="https://marketplace.visualstudio.com/items?itemName=Angular.ng-template">
                        Angular Language Service
                    </a>
                </li>
                

                <li>
                    <a href="https://primeng.org/installation">
                        PrimeNG
                    </a>
                </li>
 

            </ul>
            <h6>Códigos</h6>
            <ul>
                <li>
                    <b>Atualizar versão do Node</b>
                    <ul>
                        <li>
                            <code>sudo npm cache clean -f</code>
                        </li>
                        <li>
                            <code>sudo npm install -g n</code>
                        </li>
                        <li>
                            <code>sudo n stable</code>

                        </li>
                    </ul>
                </li>
                <li>
                    <b>Para instalar o Bootstrap ou outro módulo, na pasta da aplicação digite o codigo abaixo.</b>
                    <ul>
                        <li>
                            <code>npm i bootstrap</code>
                        </li>
                        <li>
                            <code>Nas dependências do package.json constará o módulo baixado</code>
                        </li>
                        <li>
                            <code>Agora vá no arquivo angular.json e adicione o codigo abaixo em "styles"</code><br>
                            <code>"node_modules/bootstrap/dist/css/bootstrap.min.css"</code>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>



    </div>
  </div>

  <!-- Inclua o JavaScript do Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
</body>
</html>


 
 