<h2>{{title}}</h2>

<form [formGroup]="formulario" >

  <label for="name">nome: </label>
  <input id="name" type="text" formControlName="nome">
<input type="button" value="adicionar" (click)="adicionar()">

<input type="button" value="exibir listagem" (click)="listar()">
<input type="button" value="apagar" (click)="zerar()">

</form>

<h4>
 {{listagem | json}}
</h4>

<input type="text" [value]="nome" *ngIf="mostrar">

<ul *ngFor="let item of listagem">
  <li>
    {{item}}
  </li>
</ul>

<app-noticias titulo="Titulo da Noticias"></app-noticias>
<app-noticias titulo="Titulo da Noticias 2"></app-noticias>
<app-noticias titulo="Titulo da Noticias 3 "></app-noticias>

